.main{
    background-position: center calc(10% + 0px);
	background-repeat: no-repeat;
    background-size: cover;
    background-image: url("background-img/hike1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
.text{
    padding-left: 700px;
    padding-top: 170px;
    padding-bottom: 200px;
}
.text h1{
    font-size: 50px;
    color: white;
}
.tex{
    color: white;
    font-size: 25px;
    font-weight: 700;
}